body{
    background-color: rgb(59, 59, 59);
}
#title{
    display: flex;
    justify-content: center;
    color: rgb(248, 199, 1);
    margin-top: 100px;
}
#validador{
    display: flex;
    justify-content: center;
}
#phone{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    margin-right: 10px;
    border: 2px solid rgb(248, 199, 1);
}
#btn_phone{
    border-radius: 20px;
    border: 2px solid rgb(248, 199, 1);
}
#respuesta{
    color: rgb(248, 199, 1); 
}